* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea {
  -webkit-user-select: text;  /* Allow selection for input elements */
}


/*body {
	background-color: transparent;
}*/

/* Login Page */
#tow_user {
	color: white;
	background-color: #008080;
}

#req_user {
	color: white;
	background-color: #FF0000;
}

#brand_name {
	font-size: 40px;
	font-weight: bold;
}

#flash_message {
	font: 18px 'Times New Roman', Times, serif;
	color:red;
}

#login_button {
	width:100%;
}

/* Main / Home page */
#tow_welcome {
	font-family: "Times New Roman",Georgia,Serif;
	font-size: 20px;
	font-style: italic;
	color: #008080;
}

#requestor_welcome {
	font-family: "Times New Roman",Georgia,Serif;
	font-size: 20px;
	font-style: italic;
	color: #FF0000;
}

.content-padded {
  padding: 0px;
}

.img_summary {
	max-width:65px;
	border:1px gray solid;
}

.left_summary {
	width:65px;
	float:left;
}

.center_summary {
	width:143px;
	float:right;
	font-size:14px;
}

.right_summary {
	width:65px;
	float:right;
}

.drawer_icon {
	float:left;
	width:45px;
}

.drawer_link {
	text-align:left;
	font-size:20px;
}

#map_total {
    width:100%;
    height:505px;
}

.status {
	font-size:13px;
	font-weight:bold;
	color:blue;
}

/* TowReq Details page */
#towreq_header_tower {
	font:28px tahoma;
	font-weight:bold;
	color:#008080;
	width:100%;
}

#towreq_header_requestor {
	font:28px tahoma;
	font-weight:bold;
	color:#FF0000;
	width:100%;
}

#map_individual {
	width:100%;
	height:300px;
	border:1px solid gray;
	padding:5px 5px 5px 5px;
	text-align: middle;
}

.img_vehicle_details {
	width:33.3%;
}

.img_vehicle_details img {
	width:100%;
}

.vehicle_details {
	width:151px;
	vertical-align: top;
}

.vehicle_details img {
	width: 100px;
	text-align: center;
}

.site_details {
	width:151px;
	vertical-align: top;
}

.site_details img {
	width: 120px;
	text-align: center;
	border: 1px solid gray;
}

#status_button {
	width:100%;
	font-size:30px;
}

/* Create Tow Req page */
#save_button {
	width:100%;
	font-size:30px;	
}

#submit_button {
	width:100%;
	font-size:30px;	
}

#add_button {
	max-width:65px;
	border:1px gray solid;
}

.img_button {
	width: 6.25rem;
	height: 4.6875rem;
	text-align: center;
	border: #013ADF 1px solid;
	border-radius: 6px;
}

.img_full {
	width: 316px;
	border: #013ADF 1px solid;
}

.vehicle_type_button, .trans_type_button {
	height:54px;
	width:54px;
	padding:2px;
	float:left;
}

/* All pages */
.clear {
	clear:both;
}

/* Drawer Page */
#logout_button {
	font-size:28px;
	font-family:arial;
	font-weight:bold;
}

