<div id="login" ng-controller="loginCtrl">
	<div ng-hide="showRouterView">
		<div id="tow_user">
			<p>------------------------- <b>TEAL Towers</b> ----------------------</p>
			<button ng-repeat="towUser in towUsers" class="topcoat-button--large--cta" hm-tap="prefill(towUser)">{{ towUser }}</button>
			<p>&nbsp;</p>
		</div>
		<div class="topcoat-list__container" ng-hide="showRouterView">
			<ul class="topcoat-list">
				<li class="topcoat-list__item">
					<br /><br />
					<div id="flash_message">&nbsp;{{ flashMessage }}</div>
					<div id="brand_name">Lauren Ipsum</div>
					<!--  <input type="text" class="topcoat-text-input--large" value="" placeholder="username" ng-model="credentials.username" />
					<input type="password" class="topcoat-text-input--large" value="" placeholder="password" ng-model="credentials.password" />
					<label class="topcoat-checkbox">
						<div class="topcoat-checkbox__checkmark">Remember Me <input type="checkbox" ng-model="remember"></div>
					</label> -->
				</li>
			</ul>
		</div>
		<div id="req_user">
			<p>---------------------- <b>RED Requestors</b> --------------------</p>
			<button ng-repeat="reqUser in reqUsers" class="topcoat-button--large--cta" hm-tap="prefill(reqUser)">{{ reqUser }}</button>
			<p>&nbsp;</p>
		</div>
	</div><br />
	
	<div ng-show="showRouterView">
		<p>Welcome {{ emp.user.firstName }} {{ emp.user.lastName }}</p>
		<button class="topcoat-button--large--cta" hm-tap="openHomeView(1)">Repair View</button>
		<button class="topcoat-button--large--cta" hm-tap="openHomeView(2)">Requestor View</button><br /></br />
		<div hm-tap="logout()"><a href="#">Log Out</a></div>
	</div>
</div>