<div ng-controller="SummaryCtrl">
   <div ng-show="listView">
      <div ng-show="isTowUser" id="tow_welcome">
         {{user.firstName}} {{user.lastName}}:
         <ng-pluralize count="towReqs.length"
                        when="{
                           '0' : 'No Requests :-(',
                           '1' : '1 Request',
                           'other': '{} Requests'
                        }">
         </ng-pluralize>
      </div>
      <div ng-hide="isTowUser" id="requestor_welcome">
         {{user.firstName}} {{user.lastName}}:
         <ng-pluralize count="towReqs.length"
                        when="{
                           '0' : 'No Requests :-)',
                           '1' : '1 Request',
                           'other': '{} Requests'
                        }">
         </ng-pluralize>
      </div>
      <div id="flash_message" ng-show="flashMessage">{{flashMessage}}</div>
      <div>
         
      </div>
      <ul class="topcoat-list">
         <!-- <li class="topcoat-list__item" ng-show="notification.notowRequestsMessage">{{notification.noTowRequestsMessage}}</li> -->
         <li class="topcoat-list__item" ng-repeat="towReq in towReqs" hm-tap="openDetails(towReq.id)">
            <div class="left_summary">
               <img class="img_summary" ng-src="{{host}}/containers/vehicles/download/{{towReq.towReqPics[2].filename}}" />
               
               <!-- show most recent status -->
               <div class="status">
                  {{towReq.statusEntries[towReq.statusEntries.length-1].status.id | statusMapping}}
               </div>
            </div>
            <party-pic class="right_summary" model="towReq" party-name="{{partyName}}" host="{{host}}">
            </party-pic>
            <div class="center_summary">
               <b>{{ towReq.vehicle.year }} {{ towReq.vehicle.make }} {{ towReq.vehicle.model }}</b> <br />
               {{ towReq.site.name }} <br/>
               {{ towReq.site.street }} <br />
               {{ towReq.site.city }}, {{ towReq.site.stateId }} {{ towReq.site.zip }}
            </div>
            <div class="clear"></div>
         </li>
      </ul>
   </div>
   <div id="map_total" ng-hide="listView"><div>
</div>