<div ng-controller="mainCtrl">
	<div class="topcoat-list__container" ng-hide="focusMode">
		<div id="flash_message" ng-show="flashMessage">{{ flashMessage }}</div>
		<div id="flash_message" ng-show="flashMessage2">{{ flashMessage2 }}</div>
		<table>
			<tr>
				<td ng-repeat="picType in picTypes" hm-release="changeFocus({type:'addPic', id:picType.id})" id="small_pic_{{picType.id}}" class="img_button">
					<div class="icomatic" style="color:#ACACAC;font-size:50px">camera</div>
		 			<div class="icon-label">{{picType.name}}</div>
				</td>
			</tr>
		</table>
		<ul class="topcoat-list">
			<!-- Vehicle Info -->
			<li class="topcoat-list__item">Vehicle Data<br />
				<!-- VIN -->
				<!-- <vin-input></vin-input> -->
				<input id="initVin" placeholder="VIN" type="text" class="topcoat-text-input" value="{{vehicle.vin}}" ng-click="changeFocus({type:'initVin', picTypeId:1})" />

				<!-- Lic Number -->
				<input id="initLicNumber" placeholder="License Plate No" type="text" class="topcoat-text-input" value="{{vehicle.licNumber}}" ng-click="changeFocus({type:'initLicNumber', picTypeId:2})" />
				
				<!-- Make -->
				<input type="text" class="topcoat-text-input" value="{{vehicle.make}}" placeholder="Make/Brand" ng-model="
				vehicle.make" />
				
				<!-- Model -->
				<input type="text" class="topcoat-text-input" value="{{vehicle.model}}" placeholder="Model" ng-model="vehicle.model" />
				
				<!-- Transmission Type -->
				<!-- <input type="text" class="topcoat-text-input" value="{{vehicle.transTypeId}}" placeholder="Trans Type" ng-model="vehicle.transTypeId" /> -->
			</li>

			<!-- Vehicle Types -->
			<!-- <li class="topcoat-list__item">Choose Vehicle Type<br />
				<button class="topcoat-icon-button--quiet" ng-repeat="vehicleType in vehicleTypes" hm-tap="test()">
					<img class="topcoat-icon--large" src="{{host}}/containers/vehicleTypes/download/{{vehicleType.id}}@2x.png" />
					<div class='icon-label'>{{vehicleType.name}}</div>
				</button>
			</li> -->

			<!-- Colors -->
			<li class="topcoat-list__item">Choose Kolor<br />
				<button class="topcoat-icon-button--quiet" ng-repeat="color in colors" ng-click="vehicle.color = color.code">
					<div class="topcoat-icon--large" style="background-color:{{color.code}};">
					<!-- Q: WHAT ABOUT COLOR BLINDNESS? -->
					</div>
				</button>
			</li>

			<!-- Authorization -->
			<li class="topcoat-list__item">
				<label class="topcoat-checkbox">
					<div class="topcoat-checkbox__checkmark">
						<input type="checkbox" ng-model="authorizeFlag">Check to authorize Chaz Towing to fulfill this request
					</div>
				</label>
			</li>

			<!-- Buttons -->
			<li class="topcoat-list__item">
				<button class="topcoat-button--large--cta" hm-tap="processTowReq(1)" id="save_button">Save</button>
				<button class="topcoat-button--large--cta" hm-tap="processTowReq(2)" id="submit_button">Submit</button>
			</li>
		</ul>
	</div>

	<!-- Focus on Inputs -->
	<div ng-show="focusMode">
		<div ng-show="contexts.initVin">
			<input type="text" id="inputVin" class="topcoat-text-input--large" placeholder="VIN" maxlength="17" ng-model="vehicle.vin" />
			<img id="pic_1" />
			<button class="topcoat-button--cta" hm-tap="changeFocus({type:'initVin', picTypeId:1})">close</button>
		</div>
		<div ng-show="contexts.initLicNumber">
			<input type="text" id="inputLicNumber" class="topcoat-text-input--large" placeholder="License Number" ng-model="vehicle.licNumber" />
			<img id="pic_2" class="img_full" src="" />
			<button class="topcoat-button--cta" hm-tap="changeFocus({type:'initLicNumber', picTypeId:2})">close</button>
		</div>
	</div>
</div>