* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

.content-padded {
  padding: 0px;
}

.img_summary {
	max-width:65px;
	border:1px gray solid;
}

.left_summary {
	width:65px;
	float:left;
}

.center_summary {
	width:143px;
	float:right;
	font-size:14px;
}

.right_summary {
	width:65px;
	float:right;
}

.drawer_icon {
	float:left;
	width:45px;
}

.drawer_link {
	width:220px;
	text-align:right;
	font-size:24px;
}

#map-canvas {
	height: 100%;
	width: 100%;
}

.clear {
	clear:both;
}