<div ng-controller="IndexCtrl">
	<ul class="topcoat-list">
		<li class="topcoat-list__item" hm-tap="logout()">
			<div class='icomatic' style="color:{{settings[2].tintColor}};font-size:60px">share</div>
		</li>
		<li class="topcoat-list__item" ng-repeat="link in links">
			<div class="drawer_link" hm-tap="open(link.id)">
				<div class='icon-label'>{{link.name}}</div>
				<div class='icomatic' style="color:{{settings[2].tintColor}};font-size:30px">{{link.icon}}</div>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
</div>
