<div ng-controller="DetailsCtrl" class="topcoat-list__container">
	<div>
		<h3>
			<center>***** {{ towReq.statusEntries[towReq.statusEntries.length-1].status.name }} *****</center>
		</h3>
	</div>
	<div>{{flashMessage}}</div>
	<div class="topcoat-list">
  		<!-- Vehicle Pictures -->
  		<table>
			<tr>
				<td class="img_vehicle_details"><img ng-src="{{host}}/containers/vehicles/download/{{towReq.towReqPics[0].filename}}" /></div></td>
				<td class="img_vehicle_details"><img ng-src="{{host}}/containers/vehicles/download/{{towReq.towReqPics[1].filename}}" /></div></td>
				<td class="img_vehicle_details"><img ng-src="{{host}}/containers/vehicles/download/{{towReq.towReqPics[2].filename}}" /></div></td>
			</tr>
		</table>
	
		<!-- Vehicle Info -->
  		<table>
			<tr>
				<td id="towreq_header_tower" ng-show="isTowUser">{{ towReq.vehicle.year }} {{ towReq.vehicle.make }} {{ towReq.vehicle.model }}
				</td>
				<td id="towreq_header_requestor" ng-hide="isTowUser">{{ towReq.vehicle.year }} {{ towReq.vehicle.make }} {{ towReq.vehicle.model }}
				</td>
			</tr>
			<tr>
				<td width="100%">VIN: {{ towReq.vehicle.vin }}</td>
			</tr>
			<tr>
				<td width="100%">Lic No: {{ towReq.vehicle.licNumber }}</td>
			</tr>
		</table>

		<!-- Next Statuses -->
		<table>
			<tr>
				<td ng-repeat='nextStatus in nextStatuses'>
					<button id='status_button' class='topcoat-button--cta' ng-disabled='isDisabled' hm-release='setStatus(nextStatus.id)'>{{ nextStatus.buttonName }}</button>
				</td>
			</tr>
		</table>

		<!-- Vehicle Details -->
		<table class="topcoat-list__item" ng-show="isTowUser">
			<tr>
				<td class="vehicle_details">Type<br />
					<img ng-src="{{host}}/containers/vehicleTypes/download/{{towReq.vehicle.vehicleTypeId}}@2x.png" />
				</td>
				<td class="vehicle_details">Transmission<br />
					<img ng-src="{{host}}/containers/transTypes/download/{{towReq.vehicle.transTypeId}}@2x.png" />
				</td>
			</tr>
		</table>

		<!-- Site + Emp -->
		<table>
			<tr>
				<td class="site_details"> <!-- Tow User see's Requestor's site info -->
					<site-info model="towReq" party-id="{{chosenPartyId}}" host="{{host}}"></site-info>
		      </td>
		      <td class="site_details"> <!-- Tow User see's assigned Tow Driver info (only) -->
					<emp-info model="towReq" party-id="{{chosenPartyId}}" host="{{host}}"></emp-info>
		      </td>
			</tr>
		</table>
		
		<!-- Workflow History -->
		<table>
			<tr>
				<td>
					<b>Workflow History:</b>
					<ol>
						<!-- <status-entry ng-repeat="statusEntry in towReq.statusEntries" data="statusEntry"></statusEntry> -->
						<li ng-repeat="statusEntry in towReq.statusEntries">{{ statusEntry.status.name }} by {{ statusEntry.empDuty.emp.firstName }} {{ statusEntry.empDuty.emp.lastName }} @ {{ statusEntry.timestamp }}</li>
					</ol>
				</td>
			</tr>
  		</table>
	</div>
	<table ng-show="mapAvailable" width="100%">
		<tr>
			<td id="map_individual"></td>
		</tr>
	</table>
</div>