<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Authenticate</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/steroids-addons/index.js"></script>
  <script src="/components/lodash/dist/lodash.compat.min.js"></script>
  <script src="/components/lodash/dist/lodash.underscore.min.js"></script>
  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-resource/angular-resource.min.js"></script>
  <script src="/components/loopback/lb-services.js"></script>
  <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>

  <script src="/models/filters.js"></script>
  <script src="/filters/filters.js"></script>
  <script src="/models/<%= yield.controller %>.js"></script>
  <script src="/controllers/<%= yield.controller %>.js"></script>
</head>
<body ng-app="authenticateApp">
  <%= yield.view %>
</body>
</html>
