<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Details</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOJ-dkcU-lwAdfUT4nywV1qrp-RdxwP44&sensor=true"></script> 
  <script src="/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/steroids-addons/index.js"></script>
  <script src="/components/lodash/dist/lodash.compat.min.js"></script>
  <script src="/components/lodash/dist/lodash.underscore.min.js"></script>
  <script src="/components/momentjs/min/moment.min.js"></script>
  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>

  <script src="/models/filters.js"></script>
  <script src="/filters/filters.js"></script>
  <script src="/models/<%= yield.controller %>.js"></script>
  <script src="/controllers/<%= yield.controller %>.js"></script>
  <script src="/directives/<%= yield.controller %>.js"></script>
</head>
<body ng-app="detailsApp">
  <%= yield.view %>
</body>
</html>