<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>More Stuff</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel='stylesheet' type='text/css' href='/vendor/icomatic/icomatic.css'>
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/steroids-addons/index.js"></script>
  <script src="/components/lodash/dist/lodash.compat.min.js"></script>
  <script src="/components/lodash/dist/lodash.underscore.min.js"></script>
  <script src="/components/momentjs/min/moment.min.js"></script>
  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>

  <script src="/models/filters.js"></script>
  <script src="/filters/filters.js"></script>
  <script src="/models/<%= yield.controller %>.js"></script>
  <script src="/controllers/<%= yield.controller %>.js"></script>
</head>
<body ng-app="rightDrawerApp">
  <%= yield.view %>
</body>
</html>